## Import liberary

In [1]:
# Import the necessary libraries
import sys
import os
import pandas as pd
import warnings

# Add the src folder to the path
sys.path.append(os.path.abspath('../..'))
warnings.filterwarnings("ignore", category=FutureWarning)

# Import the classes
from src.data_tool.data_providers.connect_wrds import get_wrds_data, get_security_daily
from src.data_tool.data_providers.yahoo_finance import yahoo_finance
from src.data_tool.data_providers.polygon import polygon
from src.data_tool.data_providers.financial_datasets import FinancialDatasets
from src.database_tool.connect_db import ConnectDB

# Initialize the classes
yf = yahoo_finance()
pl = polygon()
fd = FinancialDatasets()

db =ConnectDB()
engine = db.get_engine()

FINANCIAL_DATASETS_API_KEY is set
YAHOO_CONSUMER_KEY and YAHOO_CONSUMER_SECRET are set
YAHOO_APP_ID is set
POLYGON_API_KEY is set
DB_USER and DB_PASSWORD are set
DB_USER and DB_PASSWORD are set
DB_USER and DB_PASSWORD are set

## WRDS

In [2]:
tickers = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'NVDA', 'META', 'TSLA', 'NFLX', 'ADBE',
                'CRM', 'AMD', 'INTC', 'AVGO', 'QCOM', 'SHOP', 'ZM', 'SNOW', 'PYPL', 'PLTR']
start_date = '2020-01-01'
end_date = '2025-04-15'

In [3]:
Secruity_daily = get_security_daily(tickers, start_date, end_date)
Secruity_daily

Loading library list...

2025-04-16 19:59:32,532 - src.data_tool.data_providers.connect_wrds - INFO - Successfully connected to WRDS
2025-04-16 19:59:32,559 - src.data_tool.data_providers.connect_wrds - INFO - Retrieved 19 GVKEYs for tickers

Done

2025-04-16 19:59:32,857 - src.data_tool.data_providers.connect_wrds - INFO - Retrieved 24885 security daily records
2025-04-16 19:59:32,857 - src.data_tool.data_providers.connect_wrds - INFO - WRDS connection closed

,ticker,datadate,trading_volume,close_price,high_price,low_price,open_price,outstanding_shares
0,ZM,2025-04-15,1916910.0,72.4,73.13,71.785,71.965,262754000.0
1,SNOW,2025-04-15,2380513.0,146.54,147.2,144.2,144.71,334100000.0
2,QCOM,2025-04-15,6324074.0,138.6,140.835,138.03,139.46,1106000000.0
3,AVGO,2025-04-15,16883740.0,178.95,182.2644,178.08,179.725,4701949000.0
4,AMZN,2025-04-15,43204810.0,179.59,182.35,177.9331,181.41,10597729000.0
...,...,...,...,...,...,...,...,...
24880,SHOP,2020-01-02,1390345.0,407.81,408.24,398.36,403.99,103660000.0
24881,ZM,2020-01-02,1311307.0,68.72,69.235,68.02,68.8,111795000.0
24882,CRM,2020-01-02,5076763.0,166.99,167.07,163.58,163.92,887000000.0
24883,MSFT,2020-01-02,22615340.0,160.62,160.73,158.33,158.78,7628806000.0
24884,GOOGL,2020-01-02,1363159.0,1368.68,1368.68,1346.49,1348.41,299628000.0

In [4]:
db.create_table('security_daily', Secruity_daily)
db.show_tables()
db.read_table('security_daily')

,ticker,datadate,trading_volume,close_price,high_price,low_price,open_price,outstanding_shares
0,ZM,2025-04-15,1916910.0,72.40,73.1300,71.7850,71.965,2.627540e+08
1,SNOW,2025-04-15,2380513.0,146.54,147.2000,144.2000,144.710,3.341000e+08
2,QCOM,2025-04-15,6324074.0,138.60,140.8350,138.0300,139.460,1.106000e+09
3,AVGO,2025-04-15,16883740.0,178.95,182.2644,178.0800,179.725,4.701949e+09
4,AMZN,2025-04-15,43204810.0,179.59,182.3500,177.9331,181.410,1.059773e+10
...,...,...,...,...,...,...,...,...
24880,SHOP,2020-01-02,1390345.0,407.81,408.2400,398.3600,403.990,1.036600e+08
24881,ZM,2020-01-02,1311307.0,68.72,69.2350,68.0200,68.800,1.117950e+08
24882,CRM,2020-01-02,5076763.0,166.99,167.0700,163.5800,163.920,8.870000e+08
24883,MSFT,2020-01-02,22615340.0,160.62,160.7300,158.3300,158.780,7.628806e+09
24884,GOOGL,2020-01-02,1363159.0,1368.68,1368.6800,1346.4900,1348.410,2.996280e+08