In [1]:
import pandas as pd

from prophet import Prophet
import matplotlib.pyplot as plt

from sqlalchemy import create_engine
from sqlalchemy import event
from sqlalchemy import text
import os
from dotenv import load_dotenv
import sys
import warnings

In [2]:
sys.path.append(os.path.abspath('..'))
warnings.filterwarnings("ignore", category=FutureWarning)

In [3]:
from src.data_tool.connect_db import ConnectDB

In [4]:
db = ConnectDB()
engine = db.get_engine()

DB_USER and DB_PASSWORD are set

In [5]:
tables = db.show_tables()

In [6]:
tables

                      Tables
0     capital_structure_debt
1   capital_structure_equity
2  capital_structure_summary
3           financial_ratios
4        fundamentals_annual
5     fundamentals_quarterly
6                identifiers
7           key_developments
8             security_daily

In [7]:
db.read_table('security_daily')

     ticker   datadate    prccd    prchd      prcld    prcod      trfd
0      ADBE 2025-03-18   391.37   395.95   384.5700   395.36  1.096237
1       CRM 2025-03-18   278.73   280.50   275.9400   280.02  1.005680
2      QCOM 2025-03-18   156.29   159.73   155.9233   157.95  1.622969
3      SNOW 2025-03-18   154.36   155.69   149.8300   154.90       NaN
4        ZM 2025-03-18    75.45    75.75    74.0357    74.08       NaN
...     ...        ...      ...      ...        ...      ...       ...
5752   PLTR 2024-01-02    16.58    16.95    16.5000    16.95       NaN
5753   AVGO 2024-01-02  1085.38  1102.00  1077.0900  1092.12  1.368997
5754   AMZN 2024-01-02   149.93   152.38   148.3900   151.54       NaN
5755   NVDA 2024-01-02   481.68   492.95   475.9500   492.44  1.089950
5756   ADBE 2024-01-02   580.07   590.44   576.7550   589.51  1.096237

[5757 rows x 7 columns]