In [3]:
import pandas as pd
import os

In [7]:
df = pd.read_csv('../data/NVIDIA_STOCK.csv')

In [8]:
df

,Price,Adj Close,Close,High,Low,Open,Volume
0,Ticker,NVDA,NVDA,NVDA,NVDA,NVDA,NVDA
1,Date,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-02,4.929879665374756,4.983749866485596,4.987500190734863,4.862500190734863,4.894499778747559,355616000
3,2018-01-03,5.254334926605225,5.3117499351501465,5.34250020980835,5.09375,5.102499961853027,914704000
4,2018-01-04,5.2820329666137695,5.339749813079834,5.451250076293945,5.317249774932861,5.394000053405762,583268000
...,...,...,...,...,...,...,...
1694,2024-09-24,120.8616714477539,120.87000274658203,121.80000305175781,115.37999725341797,116.5199966430664,354966800
1695,2024-09-25,123.50149536132812,123.51000213623047,124.94000244140625,121.61000061035156,122.0199966430664,284692900
1696,2024-09-26,124.03145599365234,124.04000091552734,127.66999816894531,121.80000305175781,126.80000305175781,302582900
1697,2024-09-27,121.39163970947266,121.4000015258789,124.02999877929688,119.26000213623047,123.97000122070312,271009200
1698,2024-09-30,121.43163299560547,121.44000244140625,121.5,118.1500015258789,118.30999755859375,226553700