In [17]:
import os
from dotenv import load_dotenv
from requests_oauthlib import OAuth1
import requests
from yahooquery import Ticker
import pandas as pd

In [3]:
load_dotenv()

True

In [4]:
consumer_key = os.getenv('YAHOO_CONSUMER_KEY')
consumer_secret = os.getenv('YAHOO_CONSUMER_SECRET')
app_id = os.getenv('YAHOO_APP_ID')

In [5]:
auth = OAuth1(consumer_key, consumer_secret)

In [ ]:
ticker = Ticker('AAPL')

{'AAPL': {'maxAge': 1, 'priceHint': 2, 'previousClose': 209.68, 'open': 211.25, 'dayLow': 209.58, 'dayHigh': 213.94, 'regularMarketPreviousClose': 209.68, 'regularMarketOpen': 211.25, 'regularMarketDayLow': 209.58, 'regularMarketDayHigh': 213.94, 'dividendRate': 1.0, 'dividendYield': 0.0047, 'exDividendDate': '2025-02-09 19:00:00', 'payoutRatio': 0.1571, 'fiveYearAvgDividendYield': 0.59, 'beta': 1.178, 'trailingPE': 33.887302, 'forwardPE': 25.690733, 'volume': 60107582, 'regularMarketVolume': 60107582, 'averageVolume': 53553127, 'averageVolume10days': 57183830, 'averageDailyVolume10Day': 57183830, 'bid': 0.0, 'ask': 0.0, 'bidSize': 0, 'askSize': 0, 'marketCap': 3207068385280, 'fiftyTwoWeekLow': 164.08, 'fiftyTwoWeekHigh': 260.1, 'priceToSalesTrailing12Months': 8.103569, 'fiftyDayAverage': 234.9298, 'twoHundredDayAverage': 227.7727, 'trailingAnnualDividendRate': 0.99, 'trailingAnnualDividendYield': 0.0047214804, 'currency': 'USD', 'fromCurrency': None, 'toCurrency': None, 'lastMarket': None, 'coinMarketCapLink': None, 'algorithm': None, 'tradeable': False}}

In [20]:
df = ticker.history(period="1mo", interval="1d")

/Users/tylerni/anaconda3/lib/python3.10/site-packages/yahooquery/utils/__init__.py:1470: FutureWarning: 'S' is deprecated and will be removed in a future version. Please use 's' instead of 'S'.
  has_live_indice = index_utc[-1] >= last_trade - pd.Timedelta(2, "S")

In [21]:
df = df.reset_index()

In [22]:
df

,symbol,date,open,high,low,close,volume,adjclose
0,AAPL,2025-02-18,244.149994,245.179993,241.839996,244.470001,48822500,244.470001
1,AAPL,2025-02-19,244.660004,246.009995,243.160004,244.869995,32204200,244.869995
2,AAPL,2025-02-20,244.940002,246.779999,244.289993,245.830002,32316900,245.830002
3,AAPL,2025-02-21,245.949997,248.690002,245.220001,245.550003,53197400,245.550003
4,AAPL,2025-02-24,244.929993,248.860001,244.419998,247.100006,51326400,247.100006
5,AAPL,2025-02-25,248.000000,250.000000,244.910004,247.039993,48013300,247.039993
6,AAPL,2025-02-26,244.330002,244.979996,239.130005,240.360001,44433600,240.360001
7,AAPL,2025-02-27,239.410004,242.460007,237.059998,237.300003,41153600,237.300003
8,AAPL,2025-02-28,236.949997,242.089996,230.199997,241.839996,56833400,241.839996
9,AAPL,2025-03-03,241.789993,244.029999,236.110001,238.029999,47184000,238.029999
10,AAPL,2025-03-04,237.710007,240.070007,234.679993,235.929993,53798100,235.929993
11,AAPL,2025-03-05,235.419998,236.550003,229.229996,235.740005,47227600,235.740005
12,AAPL,2025-03-06,234.440002,237.860001,233.160004,235.330002,45170400,235.330002
13,AAPL,2025-03-07,235.110001,241.369995,234.759995,239.070007,46273600,239.070007
14,AAPL,2025-03-10,235.539993,236.160004,224.220001,227.479996,72071200,227.479996
15,AAPL,2025-03-11,223.809998,225.839996,217.449997,220.839996,76137400,220.839996
16,AAPL,2025-03-12,220.139999,221.750000,214.910004,216.979996,62547500,216.979996
17,AAPL,2025-03-13,215.949997,216.839996,208.419998,209.679993,61368300,209.679993
18,AAPL,2025-03-14,211.250000,213.949997,209.580002,213.490005,60060200,213.490005